*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nevbar{
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5PX;
}
.information{
    display: flex;
    height: 10cm;
  
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
}
caption{
    margin: 10px;
    color: blueviolet;
}